body{
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(#a968ea, #6663e8);
    font-size: 12px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{    
    display: flex;
    flex-direction: row;
    max-width: 920px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
}
.text{
    /* flex-basis: 520px; */
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.question{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.text img:only-of-type{
    height: 10px;
}
/* .graphics {
    border: 1px red solid;
    position: relative;
}
.overflow{
    overflow: hidden;
    position: relative;
}
.transparent{
    position: absolute;
    top: -50%;
    left: -10%;
}
.main{
    position: absolute;
    top: 20%;
    left: -20%;
}
.box{
    position: absolute;
    top: 40%;
    left: -22%;
    z-index: 1;
} */

.question{
    /* border: 1px black solid; */
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
}
.question img{
    /* margin: .8em; */
}
.question:hover{
    cursor: pointer;
    color: #f47b56;
}
.active p{
    color: black;
    font-weight: 600;
}
.active img{
    rotate: 180deg;
}
.horizontal-line{
    border: none;
    height: 2px;
    background: #efefee;
    width: 100%;
}
.answer{
    display: none;
}
@media (max-width: 375px){
    .card{
        flex-direction: column;
        max-width: 320px;
    }
    .text{
        max-width: 320px;
    }
    .text a:first-child{
        text-align: center;
    }
    
}